<div class="page" data-page="userlist" style="margin-top:0px">
    <form class="searchbar" style="margin-top:100px">
        <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
                <input type="search" placeholder="搜索关键字，直接点击搜索显示全部">
                <i class="searchbar-icon"></i>
                <span class="searchbar-disable-button">取消</span>
            </div>
        </div>
    </form>

    <div class="page-content infinite-scroll" id="userlistInfinite">
        <div class="searchbar-backdrop"></div>
        <div class="list-block virtual-list" id="vuserlist">
            <!-- keep it empty -->
        </div>
        <!-- Preloader -->
        <div class="infinite-scroll-preloader">
            <div class="preloader"></div>
        </div>
    </div>
</div>
<!-- <div class="page" data-page="userlist">
    <div class="page-content">
        adfasfasfs
    </div>
</div> -->